annotated-types
asgiref
Django
django-cors-headers
django-environ
django-json-widget
django-nanoid-field
django-ninja
django-ratelimit
dnspython
email-validator
idna
nanoid
psycopg
psycopg-binary
psycopg-pool
pydantic
pydantic_core
ruff
sqlparse
typing-inspection
typing_extensions
whitenoise
